# Framework Web Principal
Django>=5.0,<6.0
# Servidores WSGI / ASGI para Producción
gunicorn>=22.0.0
uvicorn>=0.30.0
# Manejo de Archivos Estáticos en Producción
whitenoise>=6.6.0
# API REST Framework y CORS
djangorestframework>=3.14.0
django-cors-headers>=4.3.0
# Conector de PostgreSQL para Python
psycopg2-binary>=2.9.9
# Manejo de variables de entorno (.env)
python-dotenv>=1.0.0
# Manejo de URLs de base de datos
dj-database-url>=2.1.0
# Generación de reportes PDF
reportlab>=4.0.0

# Manejo y cálculo de fechas
python-dateutil>=2.8.2

# Documentacion de la API
drf-spectacular>=0.27.0
coreapi>=2.3.3